<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>comments</title>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">
  <div class="bg-dark p-4 text-center h1 text-light">HELLO WORLD</div>
  <h1 class="text-center mt-5">评论区</h1>
  <div class="container w-75 mt-5">
    <ul class="list-unstyled">
      <li class="d-flex mt-4">
        <p class="comment-content w-75">comments</p>
        <div class="info_and_edit w-25 flex-column text-right">
          <p>username</p>
          <div class="edit">
            <a href="javascript:;">编辑</a>
            <a href="javascript:;">删除</a>
          </div>
        </div>
      </li>
      <li class="d-flex mt-4">
        <p class="comment-content w-75">comments</p>
        <div class="info_and_edit w-25 flex-column text-right">
          <p>username</p>
          <div class="edit">
            <a href="javascript:;">编辑</a>
            <a href="javascript:;">删除</a>
          </div>
        </div>
      </li>
      <li class="d-flex mt-4">
        <p class="comment-content w-75">comments</p>
        <div class="info_and_edit w-25 flex-column text-right">
          <p>username</p>
          <div class="edit">
            <a href="javascript:;">编辑</a>
            <a href="javascript:;">删除</a>
          </div>
        </div>
      </li>
      <li class="d-flex mt-4">
        <p class="comment-content w-75">comments</p>
        <div class="info_and_edit w-25 flex-column text-right">
          <p>username</p>
          <div class="edit">
            <a href="javascript:;">编辑</a>
            <a href="javascript:;">删除</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>

</html>